<!doctype html>
<html>
<head>
    <title>Security Workshop - Fed Summit 2018</title>
    <style>
    body  {
      background: black url("../static/banner.jpg") no-repeat;
      background-size: cover;
      color : white
      }
    a { color: white; }
    </style>

</head>
<body>
<div class="container">
    <br>
    <center>
    <h1> Security Workshop - Fed Summit 2018 </h1>
    <h2> Today's secret is : {{ secret }} </h2>
    <h2>server : {{ server_name }} </h2>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p><a href="mailto:clemenko@docker.com" class="email">clemenko@docker.com</a></p>



<a href="https://2018.dockercon.com/" target=new ><img src="../static/dockercon-2018-banner.svg" class="specialImage" /></a>

<style type="text/css">
.specialImage{
  position:fixed;
  bottom:0;
  right:0;
  padding-bottom: 3px;
  z-index:100; /* or higher/lower depending on other elements */
}

<style type="text/css">
.email{
  position:fixed;
  bottom:0;
  right:0;
  padding-bottom: 3px;
  z-index:100; /* or higher/lower depending on other elements */
}


</style>



</div>
</body>
