<!doctype html>
<html>
<head>
    <title>Secure, Automated Software Supply Chain - Dockercon 2018</title>
    <style type="text/css">
    body  {
      background: black url("../static/banner.jpg") no-repeat;
      background-size: cover;
      color : white;
      font-size: 20px;
      }
   
    .email{
      color: white;
      font-size: 25px;
      position:fixed;
      bottom:0;
      right:0;
      padding-bottom: 3px;
      z-index:100; /* or higher/lower depending on other elements */
  }
  </style>
</head>
<body>
<div class="container">
    <br>
    <center>
    <h1> Secure, Automated Software Supply Chain - Dockercon 2018 </h1>
    <h2> Today's secret is : {{ secret }} </h2>
    <h2> server : {{ server_name }} </h2>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p><a href="mailto:clemenko@docker.com" class="email">clemenko@docker.com</a></p>
</div>
</body>
